*.xcuserdatad/
/Corona*/

# Hidden files used by the Finder in MacOS
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd/*
.TemporaryItems/*
Desktop DB
Desktop DF

/samples
/docs/
/Corona-*.dmg
/CoronaSDK-dsym-*.zip
/docs.zip

# Eclipse
.metadata/*

.vscode
.idea
IDEWorkspaceChecks.plist

# Build results
[Dd]ebug/
[Rr]elease/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# Build files
**/build/**
*.pbxuser
*.perspective*
*.mode1
*.mode1v3
*.orig
*.class
*.apk
*.ap_
*.obj
*.bak
*.dex
*.so
*.ncb
*.opensdf
*.sdf
*.suo
*.idb
*.ipch
*.pdb
*.ilk
*.lu
*._*
contents.xcworkspacedata
*.xccheckout
*.xcbkptlist
*.rej
2100.9999_template_*_basic.tar.bz
*.log
tools/CoronaBuilder/_CoronaSetup_*.lua

# Enterprise
enterprise/CoronaTemplateApp/Libraries/*
enterprise/*.zip
tools/enterprise/CoronaEnterprise/*

# Plugins
plugins/ads/win32/*ads.c
plugins/**/android/bin/*
plugins/**/android/gen/*
plugins/**/android/libs/*
plugins/analytics/win32/*analytics.c

# Windows
# autogenerated from Lua
platform/win32/simulator/Setup/Intermediate/*
platform/win32/CoronaLibrary_lua.cpp
platform/win32/CoronaPrototype.cpp
platform/win32/CoronaProvider.cpp
platform/win32/config_require.cpp
platform/win32/create_build_properties.cpp
platform/win32/easing.cpp
platform/win32/init.cpp
platform/win32/json.cpp
platform/win32/dkjson.cpp
platform/win32/launchpad.cpp
platform/win32/re.cpp
platform/win32/runtime.cpp
platform/win32/shell.cpp
platform/win32/storyboard.cpp
platform/win32/timer.cpp
platform/win32/transition.cpp
platform/win32/widget.cpp
platform/win32/widget_button.cpp
platform/win32/widget_picker.cpp
platform/win32/widget_scrollview.cpp
platform/win32/widget_slider.cpp
platform/win32/widget_tabbar.cpp
platform/win32/widget_tableview.cpp
platform/win32/widget_*.cpp
platform/win32/remdebug_engine.cpp
platform/win32/remdebug_engine.lua
platform/win32/simulatorAnalytics.cpp
platform/win32/transition_v1.cpp
platform/win32/composer.cpp
platform/win32/composer_scene.cpp
platform/win32/webPackageApp.cpp
platform/windows/Bin/*
platform/windows/**/Bin/*
platform/windows/**/Generated Files/*
platform/windows/**/PerfLogs/*
platform/windows/**/obj/*
platform/windows/**/Debug.App/*
platform/windows/**/Debug.Simulator/*
platform/windows/**/Release.App/*
platform/windows/**/Release.Simulator/*
platform/windows/**/Debug/
platform/windows/**/Release/

# Android
*/libs/armeabi/*
*/gdb.setup
platform/android/bin
platform/android/project/corona/obj/*
platform/android/ndk/generated/*
platform/android/ndk/obj/*
platform/android/ndk/libs/*
platform/android/sdk/assets/*
platform/android/sdk/bin/*
platform/android/sdk/gen/*
platform/android/sdk/libs/*
platform/android/sdk/res/raw/corona_3rd_party_licenses.txt
platform/android/sdk/res/raw/corona_asset_*
platform/android/template/coreJars
platform/android/template/external-libs-paths
platform/android/template/externals
platform/android/template/res
external/facebook-android-sdk/facebook/bin
external/facebook-android-sdk/facebook/gen
external/OpenFeintSDK.1.9.3/OpenFeintAPI/bin
external/OpenFeintSDK.1.9.3/OpenFeintAPI/gen
external/papaya-corona-sdk-global-1.7.1/Library/bin
external/papaya-corona-sdk-global-1.7.1/Library/gen
external/SuperRewards-Android-SDK/bin
external/SuperRewards-Android-SDK/gen
local.properties
platform/android/sdk/src/com/ansca/corona/SplashScreenBeacon.java
platform/android/template/template/

# iOS
*/iphone/template/*
*/iphone/template-dSYM/*
*/iphone/template-logs/*
*/platform/*.zip
*/platform/iphone/log-*.txt
platform/iphone/template*.zip
*/platform/android/project/corona/project/jni/corona-root
*/CoronaLib.jar


kernel_*.cpp
shell_default_gl.cpp
platform/test/**
platform/test/assets/*
bin/mac/LuaCocoa.framework/**
bin/mac/logs/**
bin/mac/tmp/**
sdk/Corona**
*/Debug/*
*/Release/*
*/PowerVRDebug/*
*.aps
*.o
*.o.d
*/corona-root.lnk
*.user
platform/android/resources/FastFileCreate
plugins/ads-inmobi/android/AndroidManifest\.xml
plugins/ads-inmobi/android/proguard-project\.txt
plugins/ads-inmobi/android/project\.properties

platform/mac/CoronaLiveServer/libs/bin
platform/mac/CoronaLiveServer/libs/ssl
platform/mac/CoronaLiveServer/libevent
platform/mac/CoronaLiveServer/openssl

tools/node-post
# ignore abandoned, prototyes and closed source
platform/bada
platform/gametree
platform/nintendo
platform/symbian
platform/webos
.hg*
_hg/
*.p12
*.cert
/platform/windows/Build.Tools/CoronaLabsInc.pfx
premake4.lua
!bin/mac/lfs.so
!platform/test/assets/main.lua
librtt/Renderer/ios/build
librtt/Renderer/mac/build

#legacy entries
/plugins/viewer
external/DeskMetrics
external/InMobi
external/inneractive
external/facebook-ios-sdk
external/facebook-android-sdk
plugins/ads-inmobi
plugins/ads-inneractive
commit-email.sh
platform/resources/iostemplate
platform/tvos/license.ccdata
platform/iphone/*.tar.bz
platform/tvos/*.tar.bz
/*_output.zip
/corona.tar.gz
/CoronaNative.tar.gz
sdk/dmg/bgp.png
sdk/dmg/bgp@2x.png
sdk/dmg/processed_appdmg.json
external/JNLua/.settings/
external/JNLua/target/
external/JNLua/.classpath
external/JNLua/.project

# Linux
.codelite
*.deb
platform/linux/Solar2DSimulator.mk
platform/linux/Solar2DConsole.mk
platform/linux/car.mk
platform/linux/Makefile
platform/linux/Solar2DSimulator.txt
platform/linux/Solar2DConsole.txt
platform/linux/compile_flags.txt
platform/linux/Solar2DSimulator/Solar2DSimulator
platform/linux/Solar2DSimulator/Solar2DConsole
platform/linux/Solar2DSimulator/Resources/template_x64.tgz
platform/linux/Solar2DSimulator/Resources/template_arm.tgz
platform/linux/Solar2DSimulator/Resources/template_web.tgz
platform/linux/lua
platform/linux/Console
platform/linux/Builder/
platform/linux/Solar2DBuilder.txt
platform/linux/Solar2DSimulator/Solar2DBuilder
platform/linux/Solar2DBuilder.mk
platform/linux/Solar2DSimulator/Solar2DTux_*.tgz
platform/linux/Solar2DSimulator/changelog.txt
platform/linux/build-Release/
external/curl/curl-7.74.0
external/openssl/openssl-1.1.1i
binutils-2.30.tar.xz
tags
platform/linux/cmake-build-Debug
platform/linux/cmake-build-Release
bin/linux
external/lua-5.1.3/src
platform/linux/Solar2DBuilder/linux
platform/linux/Solar2DBuilder/shared
2020-12-28-18-57-06.png
*.core
platform/linux/lib_
external/binutils/binutils-2.35.1
external/gcc
external/iconv
binutils-2.35.1.tar.gz
platform/linux/lib_arm_linux
platform/linux/lib_raspbian
tools/binutils/binutils-2.35.1
tools/gcc/gcc-7.5.0
gcc-7.5.0.tar.gz
platform/linux/Solar2DSimulator_/
platform/linux/share/
platform/linux/include/wx-3.1/wx/
platform/linux/include/openssl/
platform/linux/include/cryptopp/
external/wx/include/wx/x11/
external/wx/include/wx/unix/
external/wx/include/wx/univ/
external/wx/include/wx/richtext/
external/wx/include/wx/
external/openssl/openssl-1.1.1h/
external/curl/curl-7.61.0/
external/wx/include/jpeg/
external/wx/lib/
external/curl/include/
platform/linux/lib/
platform/linux/include/curl/
platform/linux/bin/
platform/linux/linux_rtt.project
platform/linux/car.project
platform/linux/Solar2Dcar.mk
external/wx/build.sh
external/curl/libcurl_pi3.a
external/curl/libcurl.a
external/curl/curl-7.61.0.zip
external/curl/build-for-corona.sh
platform/linux/CMakeFiles/
platform/linux/cmake_install.cmake
platform/linux/CMakeCache.txt
platform/linux/wx/
external/wx/wxWidgets-3.1.4/src/
external/wx/wxWidgets-3.1.4/utils/
external/wx/wxWidgets-3.1.4/tests/
external/wx/wxWidgets-3.1.4/samples/
external/wx/wxWidgets-3.1.4/misc/
external/wx/wxWidgets-3.1.4/locale/
external/wx/wxWidgets-3.1.4/interface/
external/wx/wxWidgets-3.1.4/include/
external/wx/wxWidgets-3.1.4/gtk-build-win-so/src/
external/wx/wxWidgets-3.1.4/gtk-build-win-so/utils/
external/wx/wxWidgets-3.1.4/gtk-build-win-so/samples/
external/wx/wxWidgets-3.1.4/gtk-build-win-so/lib/
external/wx/wxWidgets-3.1.4/gtk-build-win-so/demos/
external/wx/wxWidgets-3.1.4/gtk-build-win/utils/
external/wx/wxWidgets-3.1.4/gtk-build-win-so/tests/
external/wx/wxWidgets-3.1.4/lib/
external/wx/wxWidgets-3.1.4/gtk-build-win/src/
external/wx/wxWidgets-3.1.4/gtk-build-win/samples/
external/wx/wxWidgets-3.1.4/gtk-build-win/lib/
external/wx/wxWidgets-3.1.4/gtk-build-win/demos/
external/wx/wxWidgets-3.1.4/gtk-build-so/src/
external/wx/wxWidgets-3.1.4/gtk-build-so/samples/
external/wx/wxWidgets-3.1.4/gtk-build-win/tests/
external/wx/wxWidgets-3.1.4/gtk-build-so/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/utils/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/src/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/samples/
external/wx/wxWidgets-3.1.4/gtk-build/utils/
external/wx/wxWidgets-3.1.4/gtk-build/src/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/demos/
external/wx/wxWidgets-3.1.4/gtk-build/samples/
external/wx/wxWidgets-3.1.4/gtk-build/lib/
external/wx/wxWidgets-3.1.4/gtk-build/demos/
external/wx/wxWidgets-3.1.4/docs/
external/wx/wxWidgets-3.1.4/distrib/
external/wx/wxWidgets-3.1.4/demos/
external/wx/wxWidgets-3.1.4/art/
external/wx/wxWidgets-3.1.4/3rdparty/
external/wx/wxWidgets-3.1.4/wxwin.m4
external/wx/wxWidgets-3.1.4/wxwidgets.props
external/wx/wxWidgets-3.1.4/wx-config.in
external/wx/wxWidgets-3.1.4/wx-config-inplace.in
external/wx/wxWidgets-3.1.4/version-script.in
external/wx/wxWidgets-3.1.4/setup.h_vms
external/wx/wxWidgets-3.1.4/setup.h.in
external/wx/wxWidgets-3.1.4/regen
external/wx/wxWidgets-3.1.4/mkinstalldirs
external/wx/wxWidgets-3.1.4/install-sh
external/wx/wxWidgets-3.1.4/gtk-build/bk-deps
external/wx/wxWidgets-3.1.4/descrip.mms
external/wx/wxWidgets-3.1.4/configure.in
external/wx/wxWidgets-3.1.4/configure
external/wx/wxWidgets-3.1.4/config.sub
external/wx/wxWidgets-3.1.4/config.guess
external/wx/wxWidgets-3.1.4/autogen.sh
external/wx/wxWidgets-3.1.4/autoconf_inc.m4
external/wx/wxWidgets-3.1.4/aclocal.m4
external/wx/wxWidgets-3.1.4/acinclude.m4
external/wx/wxWidgets-3.1.4/README.md
external/wx/wxWidgets-3.1.4/README-GIT.md
external/wx/wxWidgets-3.1.4/Makefile.in
external/wx/wxWidgets-3.1.4/CMakeLists.txt
external/wx/wxWidgets-3.1.4/.mailmap
external/wx/wxWidgets-3.1.4/.editorconfig
external/wx/wxWidgets-3.1.4/gtk-build/tests/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/lib/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/tests/
external/wx/wxWidgets-3.1.4/gtk-build-amd64/config.status
external/wx/wxWidgets-3.1.4/gtk-build-amd64/change-install-names
external/wx/wxWidgets-3.1.4/gtk-build-amd64/bk-deps
external/wx/wxWidgets-3.1.4/gtk-build-amd64/Makefile
external/wx/wxWidgets-3.1.4/gtk-build-win/regfree.i
external/wx/wxWidgets-3.1.4/gtk-build-win/regfree.bc
external/wx/wxWidgets-3.1.4/gtk-build-win/regexec.s
external/wx/wxWidgets-3.1.4/gtk-build-win/regexec.i
external/wx/wxWidgets-3.1.4/gtk-build-win/regexec.bc
external/wx/wxWidgets-3.1.4/gtk-build-win/regerror.s
external/wx/wxWidgets-3.1.4/gtk-build-win/regerror.i
external/wx/wxWidgets-3.1.4/gtk-build-win/regerror.bc
external/wx/wxWidgets-3.1.4/gtk-build-win/regcomp.s
external/wx/wxWidgets-3.1.4/gtk-build-win/regcomp.i
external/wx/wxWidgets-3.1.4/gtk-build-win/configure-amd64.sh
external/wx/wxWidgets-3.1.4/gtk-build-win/config.status
external/wx/wxWidgets-3.1.4/gtk-build-win/change-install-names
external/wx/wxWidgets-3.1.4/gtk-build-win/bk-deps
external/wx/wxWidgets-3.1.4/gtk-build-win/Makefile
external/wx/wxWidgets-3.1.4/gtk-build-win-so/wx-config
external/wx/wxWidgets-3.1.4/gtk-build-win-so/config.status
external/wx/wxWidgets-3.1.4/gtk-build-win-so/change-install-names
external/wx/wxWidgets-3.1.4/gtk-build-win-so/bk-deps
external/wx/wxWidgets-3.1.4/gtk-build-win-so/Makefile
external/wx/wxWidgets-3.1.4/gtk-build-amd64/wx-config
external/wx/wxWidgets-3.1.4/gtk-build/version-script
external/wx/wxWidgets-3.1.4/gtk-build/conftestval
external/wx/wxWidgets-3.1.4/gtk-build/conftest.err
external/wx/wxWidgets-3.1.4/gtk-build/conftest.cpp
external/wx/wxWidgets-3.1.4/gtk-build/config.status
external/wx/wxWidgets-3.1.4/gtk-build/confdefs.h
external/wx/wxWidgets-3.1.4/gtk-build/change-install-names
external/wx/wxWidgets-3.1.4/gtk-build/Makefile
external/wx/wxWidgets-3.1.4/gtk-build-win/wx/setup.h
external/wx/wxWidgets-3.1.4/gtk-build-win/wx-config
external/wx/wxWidgets-3.1.4/gtk-build-win/regfree.s
external/wx/wxWidgets-3.1.4/gtk-build-win/regcomp.bc
